body {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height : 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 15px;
}

.red {
    background-color: rgb(255, 73, 73);
}

.green {
    background-color: rgb(72, 255, 72);
}

.blue {
    background-color: rgb(72, 72, 255);
}

.yellow {
    background-color: rgb(255, 255, 103);
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}